[scripts]
dev = "uvicorn app:app --port=8000 --host=0.0.0.0"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
groq = "*"
uvicorn = "*"
async-timeout = "*"
sse-starlette = "*"

[dev-packages]
