-i https://pypi.org/simple
annotated-types==0.6.0; python_version >= '3.8'
anyio==4.3.0; python_version >= '3.8'
async-timeout==4.0.3; python_version >= '3.7'
certifi==2024.2.2; python_version >= '3.6'
click==8.1.7; python_version >= '3.7'
distro==1.9.0; python_version >= '3.6'
fastapi==0.110.0; python_version >= '3.8'
groq==0.4.1; python_version >= '3.7'
h11==0.14.0; python_version >= '3.7'
httpcore==1.0.4; python_version >= '3.8'
httpx==0.27.0; python_version >= '3.8'
idna==3.6; python_version >= '3.5'
pydantic==2.6.2; python_version >= '3.8'
pydantic-core==2.16.3; python_version >= '3.8'
sniffio==1.3.1; python_version >= '3.7'
sse-starlette==2.0.0; python_version >= '3.8'
starlette==0.36.3; python_version >= '3.8'
typing-extensions==4.10.0; python_version >= '3.8'
uvicorn==0.27.1; python_version >= '3.8'
